:root {
  --queryHeight: 2rem;
  --artworkSize: 100px;
}

html {
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  font-family: Helvetica, sans-serif;
}
